fastapi
uvicorn
sqlalchemy
pydantic
pydantic-settings
python-multipart
python-jose[cryptography]
passlib[bcrypt]
fastapi-mail
reportlab
apscheduler
python-dotenv
openai
bcrypt
psycopg2-binary
pypdf
Pillow
slowapi
requests
joblib
numpy
pandas
scikit-learn
imbalanced-learn
beautifulsoup4
sentence-transformers
tiktoken
